*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.header{

}
.header-banner{
    background: linear-gradient(rgba(0,0,0,0.2), var(--green-color)) , url(https://images.squarespace-cdn.com/content/v1/5666602b2399a3d02896d43c/1623086767105-4JLIAF35IE0B6PHZL9DE/CF2_7202.jpg);
    background-size: cover;
    height:100vh;
    background-position: center;
   
}
.header-banner__logo{
    width:70px;
    margin: 15px;
    border-radius: 50%;
    box-shadow: 0 2px 3px 2px var(--green-color);
    position: absolute;
}
.header-banner__text{
    text-align: center;
    color: #fff;
    padding-top:180px ;
}
.header-banner__text-heading{
    font-size: 130px;
    font-family: var(--text-font);
}
.header-banner__text-font{
    font-size: 20px;
    font-family: var(--text-font-p);
    font-style: italic;
}
.header-banner-btn{
    margin: 50px  0 ;
    display: flex;
    justify-content: center;
}
.header-banner-btn-link{
    width: 150px;
    text-decoration: none;
    text-align: center;
    margin: 0 10px;
    padding: 12px 0;
    color: #fff;
    border: 1px solid #fff;
    font-family:Arial, Helvetica, sans-serif;
    font-weight: 400;
    position: relative;
    z-index: 1;
    transition: color 0.3s;
}
.header-banner-btn-span{
    position: absolute;
    width: 0;
    height: 100%;
    top: 0;
    left: 0;
    background-color: #fff;
    transition: 0.4s;

}
.header-banner-btn-link:hover .header-banner-btn-span{
    width: 100%;
    z-index: -1;
}
.header-banner-btn-link:hover{
    color: black;
    z-index: 1;
}
.header-nav{
    width: 200px;
    height: 100vh;
    position: fixed;
    right: -250px;
    top: 0;
    background: var(--green-color);
    z-index: 2;
    transition: 0.5s;
}
.header-nav__menu{

}
.header-nav__menu-list{

}
.header-nav__menu-list-item{
    list-style: none;
    margin: 70px 20px;
}
.header-nav__menu-list-link{
    text-decoration: none;
    color: var(--white-color);
}
.header-nav-icon {
    position: fixed;
    width: 50px;
    height: 50px;
    font-size: 30px;
    background-color: var(--green-color);
    text-align: center;
    right: 20px;
    top: 15px;
    padding-top: 8px;
    cursor: pointer;
    color: var(--white-color);
    z-index: 1;
    border-radius: 10px;
    border: 1px solid var(--green-color);
    
}
.header-nav-icon-close{
    position: fixed;
    width: 50px;
    height: 50px;
    font-size: 30px;
    background: var(--green-color);
    text-align: center;
    right: 20px;
    top: 15px;
    padding-top: 8px;
    cursor: pointer;
    color: var(--white-color);
    overflow: hidden;
    border: 1px solid var(--green-color);
    border-radius: 10px;
}
.feature{
    width: 100%;
    left: 0;
    top:0 ;
}
.feature-title{
    margin: 70px 0;
    text-align: center;
}
.feature-title__heading{
    margin: auto;
    font-size: 20px;
    color: var(--green-color);
    font-weight: bold;
    position: relative;
    z-index: 1;
    display: inline-block;
}
.feature-title__heading::after{
    /*tạo hình chiếc lá*/
    content: "";
    position: absolute;
    width: 50px;
    height: 35px;
    background: linear-gradient(#019587,#fff);
    top: -20px;
    left: 0;
    z-index: -1;
    /* góc nghiêng bên phải*/
    transform: rotate(10deg);
    border-top-left-radius: 35px;
    border-bottom-right-radius: 35px;
}
.feature-title__text , .testimonial-title__text{
    font-size: 40px;
}
.feature-box{
    width: 80%;
    margin:auto;
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    align-items: center;
}
.feature-box__text{
    flex-basis: 50%;
}
.feature-box__text-font{
    text-align: left;
    margin-bottom: 20px;
    font-weight: 100;
    color: var(--green-color);
}
.feature-box__text-desc{
    display: flex;
    align-items: center;
    margin-bottom: 40px;
}
.feature-box__text-desc-icon .feature-box__text-desc-icon-icon{
    width: 50px;
    height: 50px;
    font-size: 30px;
    line-height: 50px;
    border-radius: 8px;
    color: var(--green-color);
    border: 1px solid var(--green-color);

}
.feature-box__text-desc-text{
    padding: 0 20px;
    text-align:initial;
}
.feature-box__text-desc-text-p{

}
.feature-box__img{
    flex-basis: 50%;
    margin: auto;
}
.feature-box__img-salon{
    width: 70%;
    border-radius: 10px;
}
.service{
    width: 100%;
    padding: 30px 0 50px;
    margin: 50px 0;
    background-color: rgb(233, 233, 233);
}
.service-box{
    width: 80%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin: auto;
}
.service-single{
    flex-basis: 48%;
    text-align: center;
    border-radius:10px ;
    margin-bottom: 20px;
    color: var(--white-color);
    position: relative;
}
.service-single-img{
    width: 100%;
    border-radius: 10px;
}
.service-single-overlay{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    border-radius: 10px;
    cursor: pointer;
    background: linear-gradient(rgba(0, 0, 0, 0.5), #019587);
    animation: fadeIn linear 0.4s; 
    display: none;  
}
.service-single:hover .service-single-overlay{
  display: block;
}
.service-single-desc{
    width: 80%;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);  
    opacity: 0;
    transition: 0.4s;
    
}
.service-single-desc hr{
    background-color: var(--white-color);
    height: 2px;
    border: 0;
    margin: 15px auto;
    width: 60%;
}
.service-single-desc-font{
    font-size: 14px;
}
.service-single:hover .service-single-desc{
    bottom: 40%;
   opacity: 1;
}
.testimonial{
    width: 100%;
    padding: 50px 0;
}
.testimonial-title {
    margin-top: 20px;
}
.testimonial-row{
    width: 80%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-wrap: wrap;
}
.testimonial-col{
    flex-basis: 28%;
    padding: 10px;
    margin-bottom: 30px;
    border-radius: 10px;
    box-shadow: 0 10px 30px 3px #00968814;
    cursor: pointer;
    transition: transform 0.5s
}
.testimonial-col__heading{
    font-size: 14px;
}
.testimonial-col__user{
    display: flex;
    align-items: center;
    margin: 20px 0;
}
.testimonial-col__img{
    width: 40px;
    height: 40px;
    margin-right: 20px;
    border-radius: 3px;
    background-size: cover;
}
.testimonial-col__user-info-icon{
    margin-left: 10px;
    color: #27c0ff;
    font-size: 15px;
}
.testimonial-col__user-info small{
    color: var(--green-color);
}
.testimonial-col:hover{
    transform: translateY(7px);
}
.footer{
    padding: 100px 0 20px ;
    background-color: rgb(233, 233, 233);
    position: relative;
}
.footer-title{
    margin-top: 30px;
}
.footer-row{
    width: 80%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.footer-row__left, .footer-row__right{
    padding: 10px;
    margin-bottom: 20px;
    flex-basis: 45%;
}
.footer-row__heading{
    margin: 10px 0;
}
.footer-row__right-font{
    line-height: 35px;
}
.footer-row__left-icon{
    font-size: 20px;
    margin: 10px;
    color: var(--green-color);
}
.footer-img{
    max-width: 300px;
    opacity: 0.07;
    position: absolute;
    left: 50%;
    top: 35%;
    transform: translate(-50%,-50%);
}
.social-link{
    text-align: center;
    margin-top: -50px;
}
.social-link a{
    text-decoration: none;
    cursor: pointer;
    text-align: center;
    
}
.social-link-icon{
    height: 40px;
    width: 40px;
    font-size: 20px;
    line-height: 40px;
    border: 1px solid var(--green-color);
    border-radius: 3px;
    margin: 40px 5px 0;
    color: var(--green-color);
    cursor: pointer;
    padding-top: 9px;
    transition: transform 0.5s;
}
.social-link-icon:hover{
    background-color: var(--green-color);
    color: var(--white-color);
    transform: translateY(-7px);
}
.social-link p{
    font-size: 14px;
    margin-top: 20px;
}